
body {
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgb(2, 17, 10);
  color: rgb(27, 189, 113);
}


header {
  background-color: rgb(4, 35, 21);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

header p{
  font-size: 20px;
  color: yellow;
}


